:root {
    --heading: 'UnifrakturCook', cursive;
    --text: 'Montserrat', sans-serif;
    --white: #D4D4D4;
    --black: #000000;
    --light-black: #0A0A0A;
    --accent: #555;
    --border: 1px solid #1E1E1E;
}

* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: var(--text);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.8;
}

li {
    list-style: none;
}

ul,
ol {
    padding: 0;
}

a {
    text-decoration: none;
    color: #D4D4D4;
    font-size: 1.1rem;
}

.header-wrapper {
    width: 100%;
    max-width: 108rem;
    padding: 0 2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s cubic-bezier(.25, .46, .45, .94);

    span {
        font-family: 'UnifrakturCook';
        font-size: 3rem;
        transition: all .4s cubic-bezier(.25, .46, .45, .94);
    }
}

header {
    padding: 1rem;
    padding-top: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid transparent;
    transition: all .4s cubic-bezier(.25, .46, .45, .94);
}

header.active {
    border-bottom: 1px solid #1E1E1E;
    background: #00000080;
    backdrop-filter: blur(10px);
    padding-top: 1rem;

    .header-wrapper {
        max-width: 108rem;
        width: 100%;

        span {
            font-size: 2.5rem;
        }
    }
}

nav {
    display: none;
}

nav ul {
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 100%;


    li {

        >a {
            font-family: "Montserrat", cursive;
            font-size: 1.04rem;
            text-transform: uppercase;
            padding: .8rem 1.4rem;
            letter-spacing: 1.5px;
            display: block;
        }

        .header-cta {
            border: var(--border);
            position: relative;
            overflow: hidden;
            z-index: 0;
        }

        .header-cta::before {
            content: "";
            position: absolute;
            inset: 0;
            transform: translateX(-100%);
            background: var(--white);
            transition: transform .5s ease;
            z-index: -1;
        }

        .header-cta:hover::before{
            transform: translateX(0);
        }

        .header-cta:hover {
            color: var(--light-black)
        }
    }
}

.toggleNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 5px;
    position: relative;
    width: 2rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    cursor: pointer;
    margin-right: 1rem;
    z-index: 1000;


    i {
        display: block;
        width: 18px;
        height: 1px;
        background: #D4D4D4;
        transition: all ease .5s;
    }

    &.active {
        i:nth-child(2) {
            transform: translateX(-50%);
        }

        i:first-child {
            transform: translateX(-75%);
        }
    }

}

@media (max-width: 768px) {

    nav {
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        width: 100%;
        transform: translateX(100%);
        display: block;
        transition: transform .75s cubic-bezier(.25, .46, .45, .94);

        ul {
            background: #000000;
            max-width: 100%;
            margin-left: auto;
            padding-top: 9rem;
            text-align: center;
            display: flex;
            gap: 2rem;
            flex-direction: column;
        }
    }

    nav.active {
        transform: translateX(0);
    }
}

@media screen and (min-width: 769px) {
    .toggleNav {
        display: none;

    }

    nav {
        display: block;
    }

}

h2 {
    font-size: clamp(2rem, 4vw, 5.1rem);
    font-family: "UnifrakturCook", cursive;
    text-align: center;
}

.section-wrapper {
    max-width: 108rem;
    width: 100%;
    margin: auto;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    height: 100dvh;
    overflow: hidden;
    border-bottom: 1px solid #1E1E1E;
    padding-top: 0;
    padding-bottom: 0;

    .ornaments {
        margin-bottom: 2.4rem;
        font-size: 2rem;
        letter-spacing: 20px;
        color: var(--accent);
        text-align: center;
    }

    h1 {
        font-family: var(--heading);
        font-size: clamp(5rem, 7vw, 9rem);
        line-height: 1.1;
        margin-bottom: 1.6rem;
    }

    p {
        font-size: clamp(1.1rem, 3vw, 1.6rem);
        max-width: 60rem;
        letter-spacing: 2px;
        font-size: 1.2rem;
        font-weight: 300;
        margin-bottom: 2.4rem;
    }

    .separator {
        font-size: 1.9rem;
        margin-bottom: 2.4rem;
        color: #555;
    }

    img {
        position: absolute;
        object-fit: contain;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        object-position: 0 0;
        opacity: 0;
        animation: opacity 2s cubic-bezier(.25, .46, .45, .94) forwards;
    }

    .content {
        position: relative;
        z-index: 1;
        background: #00000080;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .hero-wrapper {
        position: absolute;
        inset: 0;
    }

    .hero-cta {
        display: grid;
        gap: 1rem;
        
        @media screen and (min-width: 769px){
            grid-template-columns: repeat(2, 1fr);
        }
 
        a {
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.full-screen {
    width: 100vw;
    min-height: 100vh;
    flex-grow: 1;
}

section {
    padding: 12rem 0;
}

.wrapper {
    margin: 0 auto;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.heading {
    text-align: center;
    margin-bottom: 6rem;

    span {
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 1.6rem;
        letter-spacing: .4rem;
        color: var(--accent);
    }

    h2 {
        margin-bottom: 1.2rem;
    }

    p {
        font-size: 1.3rem;
        color: var(--accent)
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 2rem;

    .gallery-items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
        gap: 0;

        @media screen and (min-width: 1024px) {
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }

        .gallery-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            position: relative;
            cursor: pointer;
            transform: translateX(100%);
            opacity: 0;
            animation: test .5s ease-out forwards;
            animation-delay: calc(var(--loop) * 200ms);



            img {
                aspect-ratio: 1;
                filter: grayscale(1) contrast(1.1);
                transition: .5s;
            }

            p {
                margin-top: 1rem;
                font-size: 1.6rem;
                position: absolute;
                display: none;

            }
        }

        .gallery-item:hover {
            img {
                filter: grayscale(0) contrast(1);
            }
        }
    }
}

.visualizer {
    display: none;
    transform: translateY(100%);

    img {
        transform: translateY(-100%);
        opacity: 0;
    }

    .visualizer-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}

.visualizer.show {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px);
    background: var(--black);
    animation: visu .5s ease forwards;

    .prev {
        position: absolute;
        left: 1rem;
        letter-spacing: .4rem;
        z-index: 2;
        padding: 1rem;
        cursor: pointer;
    }

    .next {
        position: absolute;
        right: 1rem;
        letter-spacing: .4rem;
        padding: 1rem;
        cursor: pointer;
        z-index: 2;
    }

    @media screen and (min-width: 769px) {
        .prev, .next {
            position: relative;
        }
    }

    .close {
        position: absolute;
        top: 2rem;
        right: 2rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        cursor: pointer;
    }

    .visualizer-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        user-select: none;
        height: 100%;
    }

    img {
        max-height: 80%;
        object-fit: contain;
        user-select: none;
        width: auto;
        max-width: 80%;
        animation: visu .5s ease .8s forwards;
        filter: grayscale(1) contrast(1.1);
        transition: filter .5s ease;
    }

    .swiper-slide-active img {
        filter: grayscale(0) contrast(1);
    }
}

.section {
    padding-top: 12rem;
    padding-bottom: 12rem;

    .wrapper {
        max-width: 100%;
        width: 108rem;
        padding-inline: 2rem;
        margin: auto;

        .grid-container {
            display: grid;
            gap: 4rem;

            @media (min-width:769px) {
                grid-template-columns: repeat(2, 1fr);
                gap: 8rem;
            }

            .contact-infos {
                display: flex;
                flex-direction: column;
                gap: 2.4rem;

            }

            .contact-item {
                display: flex;
                flex-direction: column;

                strong {
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-weight: 500;
                    font-size: 1.1rem;
                    margin-bottom: .2rem;
                }

                span {
                    font-size: 1.3rem;
                    color: #666;
                }
            }
        }

        form {
            background: #0A0A0A;
            padding: 3.6rem;
            border: 1px solid #1E1E1E;

            .form-field {
                margin-bottom: 2.2rem;
            }

            label {
                display: block;
                font-size: 1.1rem;
                font-weight: 500;
                letter-spacing: 2px;
                text-transform: uppercase;
                margin-bottom: 8px;
                color: #555;
            }

            input,
            select,
            textarea {
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: solid 1px #1E1E1E;
                color: #D4D4D4;
                font-family: 'Montserrat';
                padding: 1.2rem 0;
                font-size: 1.36rem;
            }

            input:focus,
            textarea:focus {
                border: none;
                border-bottom: 1px solid #D4D4D4;
                outline: none;
            }

            textarea {
                resize: vertical;
                min-height: 90px;
            }

            .submit {
                width: 100%;
                background-color: #D4D4D4;
                color: #1E1E1E;
            }
        }
    }
}

.section.contact {
    background-color: #0A0A0A;
}

.btn {
    display: inline-block;
    padding: 13px 30px;
    font-family: var(--sans);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    background: black;
    color: #D4D4D4;
    border: 1px solid #D4D4D4;
    cursor: pointer;
    transition: all .5s;

    &.btn-alt {
        background: white;
        color: #0A0A0A;
    }
}

@keyframes test {
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes visu {
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}